:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.website-title,
.name {
  display: inline;
  font-size: 20px;
  line-height: 42px;
  margin-left: 15px;
  color: var(--primary-color);
  text-decoration: none;
}

nav {
  padding: 20px 0;
  text-decoration: none;
}

nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
}

nav a:hover,
nav li.active a {
  color: var(--primary-color);
  text-decoration: none;
}

.about-hero {
  background: #f9f7fe;
  font-family: "Nunito";
  color: black;
  padding-top: 20px;
  padding-bottom: 0px;
  border-radius: 12px;
}
.hero {
  background: #f9f7fe;
  text-align: center;
  font-family: "Nunito";
  color: black;
}

.hero h2 {
  font-size: 25px;
}

.hero h3 {
  font-size: 25px;
}

.hero h1,
.about-hero h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 1, 25;
}

.navigation-links {
  margin-top: 30px;
}

.navigation-links-deux {
  margin-top: 30px;
}

.navigation-links a {
  border-radius: 4px;
  justify-content: end;
  padding: 13px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-links-deux a {
  border-radius: 4px;
  justify-content: start;
  padding: 13px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.about-link,
.contact-form {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  font-family: "Nunito";
  font-weight: bold;
  text-align: center;
  padding: 10px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.container-contact {
  padding-left: 44px;
}

.link-app {
  text-decoration: none;
  background: var(--secondary-color);
  border-radius: 4px;
  border-color: #6c63ff;
  color: var(--primary-color);
  font-size: 15px;
  line-height: 27px;
  padding: 15px 15px;
  font-family: "Nunito";
}

.frame-button {
  padding-left: 25px;
}

.contact100-form-btn {
  text-decoration: none;
  background: var(--secondary-color);
  border-radius: 6px;
  border-color: #6c63ff;
  color: var(--primary-color);
  font-size: 15px;
  line-height: 27px;
  padding: 5px 15px;

  font-family: "Nunito";
}

.wrap-input100 {
  border-radius: 4px;
  border-color: #6c63ff;
  font-size: 15px;
  line-height: 27px;
}

.contact100-form-title {
  color: white;
  font-size: 20px;
  line-height: 50px;
  font-family: "Nunito";
  font-weight: 400;
}

.titre,
.titre-about {
  font-family: "Nunito";
  font-weight: bold;
  font-size: 40px;
}

.titre-work {
  font-family: "Nunito";
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 20px;
  padding-left: 25px;
}

.titre-contact {
  font-family: "Nunito";
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 0px;
  padding-left: 27px;
}

.sous-titre-work {
  font-family: "Nunito";
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 30px;
  padding-left: 25px;
  color: #6c63ff;
}

.texte-work {
  font-family: "Nunito";

  font-size: 15px;

  padding-left: 25px;
}

.date {
  font-family: "Nunito";
  font-weight: bold;
  font-size: 30px;
  color: #6c63ff;
  padding-bottom: 10px;
}

.texte-about {
  font-size: 15px;
  font-family: "nunito";
  padding-right: 80px;
}

.position-about {
  font-size: 20px;
  font-family: "nunito";
}

.firmen-about {
  font-size: 17px;
  padding-top: 4px;
  padding-bottom: 10px;
  font-family: "nunito";
  font-style: italic;
}

.me {
  display: block;
  max-width: 90%;

  border-radius: 12px;
}

.project {
  display: block;
  border-radius: 12px;
  padding-bottom: 40px;
}

.contact-buttons {
  text-align: center;
  text-decoration: none;
  background: var(--secondary-color);
  max-width: 15%;
  border-color: #6c63ff;
  color: var(--primary-color);
  font-size: 20px;
  line-height: 50px;

  font-family: "Nunito";
}

.contact-icons {
  padding-left: 40px;
  padding-top: 160px;
  padding-bottom: 50px;
}

.container-projects {
  padding-top: 30px;
}

footer {
  text-align: center;
  background-color: white;
  margin-top: 77px;

  padding-top: 10px;

  color: var(--primary-color);
  font-size: 13px;
  font-family: "Nunito";

  bottom: 0;
  width: 100%;
}

.text-legals {
  text-align: end;
}

.icons-footer {
  text-align: center;
}

.icone {
  padding-left: 10px;
  padding-right: 10px;
  color: var(--primary-color);
}

.keolis-logo {
  max-width: 40%;
}

.bosch-logo,
.casa-logo {
  max-width: 40%;
}

.master-logo,
.uco-logo {
  max-width: 60%;
}
.elite-logo {
  max-width: 23%;
}

.lpa-logo {
  max-width: 20%;
}

.bar {
  max-width: 30%;
}

.projects {
  border-radius: 20px;
  padding-right: 200px;
}

.fa-bootstrap,
.fa-square-js,
.fa-html5,
.fa-css3-alt,
.fa-github {
  color: var(--primary-color);
}

.home-hero {
  padding-top: 70px;
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 70px;
}

.visuel-home {
  display: block;
  margin: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.titre-home {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 40px;
  padding-top: 30px;
}

@media (max-width: 600px) {
  .me,
  .bar,
  .lpa-logo,
  .master-logo,
  .elite-logo,
  .uco.logo,
  .casa-logo,
  .bosch-logo,
  .keolis-logo {
    display: none;
  }

  .titre {
    text-align: center;
    margin: auto;
    font-size: 24px;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .titre-work {
    display: none;
  }

  .titre-contact {
    text-align: center;
    font-size: 25px;
    padding-bottom: 2px;
  }

  .titre-about {
    text-align: center;
    margin: auto;
    font-size: 25px;
    padding-bottom: 20px;
  }

  .titre-home {
    font-size: 18px;
  }

  .navigation-links,
  .navigation-links-deux {
    font-size: 13px;
  }

  .visuel-home {
    width: 40%;
  }

  .home-hero {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .sous-titre-work {
    text-align: center;
    margin: auto;
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .date {
    text-align: center;
    font-size: 22px;
    margin: auto;
    padding: auto;
  }

  .position-about {
    text-align: center;
    font-size: 18px;
    margin: auto;
    padding: auto;
  }

  .firmen-about {
    text-align: center;
    font-size: 13px;
    margin: auto;
  }

  .texte-about,
  .texte-work {
    text-align: center;
    padding: 3px;
    font-size: 13px;
    padding-bottom: 0px;
  }

  .container-about {
    padding: 1px;
  }

  .about-hero {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-items {
    font-size: 10px;
    line-height: 20px;
  }

  .logo {
    width: 20px;
    height: 20px;
  }

  .name {
    display: none;
  }

  footer {
    background-color: white;
  }

  .footer-container {
    margin-top: 10px;
  }

  .icons-footer,
  .text-legals {
    font-size: 10px;
    width: 100%;
  }

  .project-app,
  .project-homepage {
    display: none;
  }

  .frame-button {
    text-align: center;
  }

  .link-app {
    padding: 8px 22px;
    font-size: 12px;
  }

  .container-contact {
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 25px;
  }

  .contact-buttons {
    max-width: 12%;
    display: inline-block;
    text-align: end;
    font-size: 13px;
    line-height: 35px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
  }

  .contact-icons {
    margin: auto;
    padding-left: 70px;
    padding-top: 35px;
  }
}
